body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('/images/dropbackground.jpg');  
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    font-size: 1.4rem;
}

nav {
    background: rgba(1, 10, 54, 0.978);
    padding: 15px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
}

textarea, input {
    width: 60%;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

button {
    margin-top: 15px;
    background: #e777da;
    border: none;
    padding: 12px 25px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.4rem;
}

.message-box {
    margin: 40px auto;
    padding: 20px;
    width: 60%;
    background: rgba(255,255,255,0.2);
    border-radius: 15px;
}

.bottleimage {
    width: 85px;
    height: auto;
}

.bottledmessage {
    font-size: 1.55rem;
    color: #fcf6fe;
}

.aboutpagetext {
    max-width: 800px;
}

form {
    width: 55%;
}

ol {
    text-align: left;
}

ol li {
    padding: 8px;
    color: rgb(255, 255, 255);
}